* {
    direction: rtl;
}

.cursor-pointer {
    cursor: pointer;
}

.firstContainer {
    max-width: 1270px;
    max-height: 34px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left: 33px;
    margin-right: 137px;
}

.rightDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border: 0px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    flex-shrink: 0;
    cursor: pointer;
}


.arrow-btn {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: #E7EAED;

}

.myIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.912px;
    height: 12.912px;
    flex-shrink: 0;
    color: #292D32;
}

.rightDiv-desc {
    color: #1C1C28;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-right: 7px;
}

/* /**************************************** */
/* /**************************************** */
/* /**************************************** */
.second {
    display: flex;
    margin-top: 13px;
    margin-left: 33px;
    margin-right: 137px;
    width: 1271px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    width: 78px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E9EAEA;
    background: #F9F9F9;
}

.edit-btn span {
    margin-right: 8px;
    color: #1C1C28;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


.stats {
    width: 839px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.807px solid #EBEBEB;
    background: #FFF;
    margin-left: 24px;
}

.mystats-desc {
    display: flex;
    flex-direction: column;
    width: 243px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 19px;
    margin-right: 22px;
}

.mystats-desc .my-title {
    color: #1C1C28;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.904px;
}

.mystats-desc .myDate {
    color: var(--font-style-light);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.904px;
    margin-top: 10px;
    margin-bottom: 31.6px;
}

.mystats-desc .myDate .july {
    font-weight: 400;
    font-family: 'Neo Sans Arabic';
}

.my-date-icons svg {
    stroke-width: 1.21px;
    stroke: #92A1AD;
    flex-shrink: 0;
}

.Annually {
    margin-top: 22px;
    margin-left: 22.39px;
}

.Annually .bttn {
    width: 67.371px;
    height: 30.279px;
    flex-shrink: 0;
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.Annually span {
    color: #1C1C28;
    font-size: 12.112px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.Annually svg {
    width: 9.82px;
    height: 9.227px;
    flex-shrink: 0;
    margin-right: 3px;
}


.chart {
    width: 795px;
    height: 137px;
    position: relative;
    margin-right: 21px;
}

.chart svg {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #1C1C28; */
    /* opacity: 0.33; */
    /* mix-blend-mode: multiply; */
}

.line1,
.line2 {
    margin-top: 31px;
    width: 796.017px;
    height: 0.807px;
    background: #E5E5EF;
}

.line2 {
    margin-top: 34.8px;

}

.line3 {
    /* margin-top: 34.8px; */
    width: 796.017px;
    height: 0.807px;
    background: #E5E5EF;
    margin-right: 21px;

}

.highest-point {

    position: absolute;
    top: 0;
    left: 0;
    right: 60%;
    bottom: 0;

}

.months {
    width: 792.017px;
    display: flex;
    align-items: center;
}

.months .jan {
    margin-right: 19px;
}

.months span {
    width: 40px;
    height: 19px;
    flex-shrink: 0;
    color: #9291A5;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.13px;
    letter-spacing: -0.24px;
    margin-bottom: 8.56px;
    margin-top: 9.43px;


}

.months .rest {
    margin-right: 28.4px;
}

/* .months .dec{
    margin-left: 19px;

} */

/* ******************************** */
/* ******************************** */
/* ******************************** */




/* **************************************** */

.tickets {
    width: 408px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 12.474px;
    background: #8A74F9;
}

.tickets .header {
    display: flex;
    justify-content: space-between;
}

.tickets .desc h3 {
    margin-top: 26px;
    margin-right: 117px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header .icons {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.header .icons .trash-icon {
    margin-top: 24px;
    margin-right: 78px;
    margin-left: 32px;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header .icons .trash-msg {
    width: 36.9px;
    height: 70px;
    flex-shrink: 0;
    color: #1E1B39;
}

/*  ************************************/
/*  ************************************/
/*  ************************************/

.third {
    display: flex;
    margin-top: 13px;
    margin-left: 33px;
    margin-right: 137px;
}

.myTable-header {
    display: flex;
    align-items: center;
}

.myTable-header h2 {
    color: #1C1C28;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 28px;
}

.inputs {
    display: block;
    width: 277px;
    height: 36px;
    flex-shrink: 0;
    color: rgba(146, 161, 173, 0.40);

    font-family: Neo Sans Arabic;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(146, 161, 173, 0.40);
    ;
    border-radius: 0.25rem;
    margin-right: 17px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputs:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}




/* Media query for screens with a width up to 600px */

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
        /* width: 10%; */
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    /* 
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
    } */

    .firstContainer {
        width: 300px;
        /* flex-direction: column; */
        /* justify-content: center; */
    }




    .second {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 20px; */
        width: 60%;
        direction: ltr;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }

    .head {
        justify-content: center;

    }


    .stats {
        width: 40%;
        margin-top: 20px;
    }

    .chart,
    .months,
    .tickets {
        width: 90%;
    }

    .line1,
    .line2 {
        width: 100%;

    }
    .line3{
        width: 90%;
    }
    .months span,
    .months .rest {
        width: 8.5%;
        margin: 0px;
        font-size: 8px;
    }

    .highest-point {
        top: 30%;
        right: 60%;
    
    }

}

/* Media query for screens with a width between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        width: 100%;
        height: 100%;
    }

    .firstContainer {
        max-width: 80%;
    }

    .second {
        max-width: 80%;

    }

}


/* Media query for screens with a width between 901px and 1200px */
@media (min-width: 901px) and (max-width: 1200px) {
    .firstContainer {
        max-width: 90%;
    }

    .second {
        max-width: 90%;

    }

}

/* Add more media queries as needed for other screen sizes */