@font-face {
    font-family: 'Neo Sans Arabic';
    /* src: url('./assets/fonts/NeoSansArabicBold.ttf'); */
    src: url('./assets/fonts/Neo_Sans_Medium.ttf');
    /* Add other formats (e.g., woff2, ttf) as needed */
}

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    /* font-family: 'Playpen Sans', cursive; */
    font-family: 'Neo Sans Arabic';
    width: 1440px;
    height: 820px;
/* overflow-x: hidden; */
}
:root {
    --font-style-light: #99A1B7;
  }
  

.myMain{
    display: flex;
    justify-content: end;
}
.direct-btn{
    background-color: red !important;
    color: white;
    text-decoration: none;
}